body {
  background: #eee;
  background-image: url(../../images/bg/furley_bg.png);
  background-position: initial initial;
  background-repeat: initial initial;
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0px;
  padding: 0px;
}
a{
	color:#efeff0
}
a:hover, a:focus{
	color:#a23c3a;
}
#top {background: #6c7a95;padding: 7px 0;}
#top .language{}
#top .currency {}
#top ul.top-link {float: right;}
#top ul.top-link li {display: inline-block;padding-right: 5px;margin-right: 5px;border-right: 1px solid #bbb;}
#top ul.top-link li:last-child {border: none;}
.brand{
	text-shadow: none;
	font-size:xx-large;
}
.brand .first{
	color: #ccc;
	
    font-style: italic;
}
.brand .second{
	color: #fff;
    font-weight: bold;
}
.sidebar-nav {
  width: 240px;
  position: absolute;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}

.sidebar-nav .nav-header {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8cb;
  border-left: none;
  color: #333;
  display: block;
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
  font-weight: normal;
  font-size: 1em;
  line-height: 2.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  /*Change the arrow direction if the item is collapsed*/

}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .5em;
  margin-right: .25em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover {
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
}
.sidebar-nav .nav-header.collapsed .icon-chevron-up::before {
  content: "\f078";
}
.sidebar-nav .nav-header .icon-chevron-up {
  float: right;
}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .7em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header i[class^="icon-"] {
  margin-right: .75em;
}
.sidebar-nav .nav-list {
  margin: 0px;
  border: 0px;
  background: #f6f6f6;
}
.sidebar-nav .nav-list  > li > a:hover {
  background: #e0e0e8;
}
.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover {
  background: #d2d2dd;
  color: #555;
  text-shadow: none;
}
.sidebar-nav .nav-list  > .active > a:hover {
  background: #c3c3d2;
}
.sidebar-nav .nav-list  > li > a {
  color: #444;
  padding: .5em 1em;
}
.sidebar-nav .nav-list.collapse.in {
  border-bottom: 1px solid #ccc;
}

